@font-face {
  font-family: "Exo2.0";
  src: url("../fonts/Exo2.0-Thin.otf");
  font-weight: normal; }

.page-body {
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #121212;
  background-image: url("../img/background.jpg");
  background-size: 65px;
  background-repeat: repeat;
  color: #ffffff;
  -webkit-box-shadow: inset 0 100px 100px 0 rgba(0, 0, 0, 0.5), inset 0 -100px 100px 0 rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 100px 100px 0 rgba(0, 0, 0, 0.5), inset 0 -100px 100px 0 rgba(0, 0, 0, 0.5); }

.page-body__wrapper {
  margin: auto;
  width: 100%;
  max-width: 1200px; }

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

.page-title {
  margin-bottom: 21px;
  margin-top: 35px;
  font-weight: 400;
  line-height: 1.2;
  font-size: 36px;
  font-family: "Exo2.0", serif;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.004); }

.product-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: black; }

.product-list__item {
  margin: 10px; }

.product-list__input {
  display: none; }

.product-list__input + label {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 320px;
  min-height: 480px; }

.product-list__weight {
  padding-top: 15px;
  padding-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: auto;
  margin-left: auto;
  width: 80px;
  height: 80px;
  background: #1698d9;
  border-radius: 100%;
  font-size: 42px;
  font-family: "Trebuchet MS", serif;
  color: white;
  text-align: center; }

.product-list__input + label {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 320px;
  min-height: 480px; }
  .product-list__input + label::before {
    z-index: 2;
    border-bottom: 4px solid #1698d9;
    border-radius: 0 0 0 10px;
    border-left: 4px solid #1698d9;
    top: 40px;
    left: 0;
    width: 48px;
    height: 440px;
    content: "";
    position: absolute;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    background: #f2f2f2; }
  .product-list__input + label::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    background: #f2f2f2;
    z-index: 0;
    left: 15px;
    width: 28px;
    height: 56px;
    border-left: 3px solid #1698d9;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }

.product-list__wrapper {
  position: relative;
  border-bottom: 4px solid #1698d9;
  border-right: 4px solid #1698d9;
  border-top: 4px solid #1698d9;
  border-radius: 0 10px 10px 0;
  width: 276px;
  height: 472px;
  margin-left: 40px;
  background-color: #f2f2f2;
  z-index: 100; }

.product-list__content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 472px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: -36px;
  border-radius: 7px;
  background-image: url("../img/itemImageBg.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  padding: 17px 11px 10px 44px; }

.product-list__weight small {
  font-size: 20px; }

.product-list__description {
  font-size: 16px;
  font-family: "Trebuchet MS", serif;
  color: #666666;
  line-height: 1.2;
  text-align: left; }

.product-list__title {
  font-size: 48px;
  margin-top: 7px;
  margin-bottom: -3px;
  font-family: "Trebuchet MS", serif;
  color: black;
  font-weight: bold;
  line-height: 1.2;
  text-align: left; }

.product-list__title span {
  font-size: 24px;
  font-family: "Trebuchet MS", serif;
  color: black;
  font-weight: bold;
  line-height: 1.2;
  text-align: left; }

.product-list__message {
  font-size: 13px;
  font-family: "Trebuchet MS", serif;
  color: white;
  line-height: 1.231;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.004); }

.product-list__message a {
  color: #1698d9;
  -webkit-text-decoration-style: dashed;
          text-decoration-style: dashed; }

.product-list__title-description {
  font-size: 24px;
  font-family: "Trebuchet MS", serif;
  color: black;
  font-weight: bold;
  line-height: 1.2;
  text-align: left; }

.product-description__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 16px 0 0;
  letter-spacing: -0.5px; }

.product-list__item {
  margin-top: 0;
  margin-bottom: 4px;
  font-family: "Trebuchet MS", serif;
  line-height: 15px;
  font-size: 15px; }

.product-list__input:hover + label::before,
.product-list__input:active + label::before,
.product-list__input:focus + label::before {
  border-bottom: 4px solid #2ea8e6;
  border-left: 4px solid #2ea8e6; }

.product-list__input:hover + label::after,
.product-list__input:active + label::after,
.product-list__input:focus + label::after {
  border-left: 3px solid #2ea8e6; }

.product-list__input:hover + label .product-list__weight,
.product-list__input:active + label .product-list__weight,
.product-list__input:focus + label .product-list__weight {
  background: #2ea8e6; }

.product-list__input:hover + label .product-list__wrapper,
.product-list__input:active + label .product-list__wrapper,
.product-list__input:focus + label .product-list__wrapper {
  border-bottom: 4px solid #2ea8e6;
  border-right: 4px solid #2ea8e6;
  border-top: 4px solid #2ea8e6; }

.product-list__message--disabled {
  display: none; }

.product-list__input:checked + label::before {
  border-bottom: 4px solid #d91667;
  border-left: 4px solid #d91667; }

.product-list__input:checked + label::after {
  border-left: 3px solid #d91667; }

.product-list__input:checked + label .product-list__weight {
  background: #d91667; }

.product-list__input:checked + label .product-list__wrapper {
  border-bottom: 4px solid #d91667;
  border-right: 4px solid #d91667;
  border-top: 4px solid #d91667; }

.product-list__description-hover {
  display: none; }

.product-list__input:checked:hover + label::before {
  border-bottom: 4px solid #e62e7a;
  border-left: 4px solid #e62e7a; }

.product-list__input:checked:hover + label::after {
  border-left: 3px solid #e62e7a; }

.product-list__input:checked:hover + label .product-list__weight {
  background: #e62e7a; }

.product-list__input:checked:hover + label .product-list__description-hover {
  display: inline; }

.product-list__input:checked:hover + label .product-list__description-main {
  display: none; }

.product-list__input:checked:hover + label .product-list__wrapper {
  border-bottom: 4px solid #e62e7a;
  border-right: 4px solid #e62e7a;
  border-top: 4px solid #e62e7a; }

.product-list__input:checked:hover + label .product-list__description {
  color: #e62e7a; }

.product-list__input:disabled + label .product-list__content-wrapper {
  opacity: 0.2; }

.product-list__input:disabled + label::before {
  border-bottom: 4px solid #b3b3b3;
  border-left: 4px solid #b3b3b3; }

.product-list__input:disabled + label::after {
  border-left: 3px solid #b3b3b3; }

.product-list__input:disabled + label .product-list__weight {
  background: #b3b3b3; }

.product-list__input:disabled + label .product-list__wrapper {
  border-bottom: 4px solid #b3b3b3;
  border-right: 4px solid #b3b3b3;
  border-top: 4px solid #b3b3b3; }

.product-list__input:disabled ~ .product-list__message {
  color: #ffff66;
  display: none; }

.product-list__input:disabled ~ .product-list__message--disabled {
  display: block; }
