
.product-list {
  @include reset-list;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  color: black;
}

.product-list__item {
  margin: 10px;
}

.product-list__input {
  display: none;
}

.product-list__input + label {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 320px;
  min-height: 480px;
}

.product-list__weight {
  padding-top: 15px;
  padding-bottom: 10px;
  box-sizing: border-box;
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: auto;
  margin-left: auto;
  width: 80px;
  height: 80px;
  background: $blue;
  border-radius: 100%;
  font-size: 42px;
  font-family: "Trebuchet MS";
  color: rgb(255, 255, 255);
  text-align: center;
}

.product-list__input + label {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 320px;
  min-height: 480px;
  
  &::before {
    z-index: 2;
    border-bottom: 4px solid $blue;
    border-radius: 0 0 0 10px;
    border-left: 4px solid $blue;
    top: 40px;
    left: 0;
    width: 48px;
    height: 440px;
    content: "";
    position: absolute;
    box-sizing: border-box;
    display: block;
    background: $ligth-grey;
  }
  
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    background: $ligth-grey;
    z-index: 0;
    left: 15px;
    width: 28px;
    height: 56px;
    border-left: 3px solid #1698d9;
    transform: rotate(45deg);
  }
}

.product-list__wrapper {
  position: relative;
  border-bottom: 4px solid $blue;
  border-right: 4px solid $blue;
  border-top: 4px solid $blue;
  border-radius: 0 10px 10px 0;
  width: 276px;
  height: 472px;
  margin-left: 40px;
  background-color: $ligth-grey;
  z-index: 100;
}

.product-list__content-wrapper {
  display: flex;
  flex-direction: column;
  height: 472px;
  box-sizing: border-box;
  margin-left: -36px;
  border-radius: 7px;
  background-image: url("../img/itemImageBg.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  padding: 17px 11px 10px 44px;
}

.product-list__weight small {
  font-size: 20px;
}

.product-list__description {
  font-size: 16px;
  font-family: "Trebuchet MS";
  color: rgb(102, 102, 102);
  line-height: 1.2;
  text-align: left;
}

.product-list__title {
  font-size: 48px;
  margin-top: 7px;
  margin-bottom: -3px;
  font-family: "Trebuchet MS";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
}

.product-list__title span {
  font-size: 24px;
  font-family: "Trebuchet MS";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
}

.product-list__message {
  font-size: 13px;
  font-family: "Trebuchet MS";
  color: rgb(255, 255, 255);
  line-height: 1.231;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.004);
}

.product-list__message a {
  color: $blue;
  text-decoration-style: dashed;
}

.product-list__title-description {
  font-size: 24px;
  font-family: "Trebuchet MS";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
}

.product-description__list {
  @include reset-list;
  margin: 16px 0 0;
  letter-spacing: -0.5px;
}

.product-list__item {
  margin-top: 0;
  margin-bottom: 4px;
  font-family: "Trebuchet MS";
  line-height: 15px;
  font-size: 15px;
}

.product-list__input:hover + label,
.product-list__input:active + label,
.product-list__input:focus + label {
  
  &::before {
    border-bottom: 4px solid $light-blue;
    border-left: 4px solid $light-blue;
  }
  
  &::after {
    border-left: 3px solid $light-blue;
  }
  
  .product-list__weight {
    background: $light-blue;

  
  }
  .product-list__wrapper {
    border-bottom: 4px solid $light-blue;
    border-right: 4px solid $light-blue;
    border-top: 4px solid $light-blue;
  }
}
.product-list__message--disabled {
  display: none;
}
.product-list__input:checked + label {
  
  &::before {
    border-bottom: 4px solid $pink;
    border-left: 4px solid $pink;
  }
  
  &::after {
    border-left: 3px solid $pink;
  }
  
  .product-list__weight {
    background: $pink;
  }
  .product-list__wrapper {
    border-bottom: 4px solid $pink;
    border-right: 4px solid $pink;
    border-top: 4px solid $pink;
  }
}

.product-list__description-hover {
  display: none;
}

.product-list__input:checked:hover + label {
  
  &::before {
    border-bottom: 4px solid $light-pink;
    border-left: 4px solid $light-pink;
  }
  
  &::after {
    border-left: 3px solid $light-pink;
  }
  
  .product-list__weight {
    background: $light-pink;
  }
  
  .product-list__description-hover {
    display: inline;
  }
  
  .product-list__description-main {
    display: none;
  }
  
  .product-list__wrapper {
    border-bottom: 4px solid $light-pink;
    border-right: 4px solid $light-pink;
    border-top: 4px solid $light-pink;
  }
  .product-list__description {
    color: $light-pink;
  }
}

.product-list__input:disabled + label {
  .product-list__content-wrapper {
    opacity: 0.2;
  }
  &::before {
    border-bottom: 4px solid $grey;
    border-left: 4px solid $grey;
  }
  
  &::after {
    border-left: 3px solid $grey;
  }
  
  .product-list__weight {
    background: $grey;
  }
  
  .product-list__wrapper {
    border-bottom: 4px solid $grey;
    border-right: 4px solid $grey;
    border-top: 4px solid $grey;
  }
}

.product-list__input:disabled {
  &~.product-list__message {
  color: $yellow;
    display: none;
}
  &~.product-list__message--disabled {
    display: block;
  }
}
