.product-list {
  @include reset-list;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  color: black;
}

.product-list__item {
  margin: 10px;
}

.product-list__input {
  display: none;
}

.product-list__input + label {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 320px;
  min-height: 480px;
}

.product-list__input:hover + label,
.product-list__input:active + label,
.product-list__input:focus + label {
  .product-list__weight {
    background: $light-blue;
  }
}

.product-list__wrapper {
  width: 320px;
  height: 480px;
  box-sizing: border-box;
  padding: 22px 16px 16px 47px;
  display: flex;
  flex-direction: column;
  background-image: url("../img/itemImageBg.png");
}

.product-list__weight {
  padding-top: 15px;
  padding-bottom: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: auto;
  margin-left: auto;
  width: 80px;
  height: 80px;
  background: $blue;
  border-radius: 100%;
  font-size: 42px;
  font-family: "Trebuchet MS";
  color: rgb(255, 255, 255);
  line-height: 0.524;
  text-align: center;
}

.product-list__weight small {
  font-size: 20px;
}

.product-list__description {
  font-size: 16px;
  font-family: "Trebuchet MS";
  color: rgb(102, 102, 102);
  line-height: 1.2;
  text-align: left;
}

.product-list__title {
  font-size: 48px;
  margin-top: 5px;
  margin-bottom: -4px;
  font-family: "Trebuchet MS";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
}

.product-list__title span {
  font-size: 24px;
  font-family: "Trebuchet MS";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
}

.product-list__message {
  font-size: 13px;
  font-family: "Trebuchet MS";
  color: rgb(255, 255, 255);
  line-height: 1.231;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.004);
}

.product-list__message a {
  color: $blue;
  text-decoration-style: dashed;
}

.product-list__title-description {
  font-size: 24px;
  font-family: "Trebuchet MS";
  color: rgb(0, 0, 0);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
}

.product-description__list {
  @include reset-list;
  margin: 16px 0 0;

}

.product-list__item {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 13px;
}
