@font-face {
  font-family: "Exo2.0";
  src: url("../fonts/Exo2.0-Thin.otf");
  font-weight: normal;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

$blue: #1698d9;
$light-blue: #2ea8e6;
$ligth-grey: #f2f2f2;
$pink: #d91667;
$light-pink: #e62e7a;
$grey: #b3b3b3;
$yellow: #ffff66;
