<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Funbox</title>
	<link rel="stylesheet" href="css/style.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/main.css">
</head>
<body class="page-body">
<main class="wrapper page-body__wrapper">
  <h1 class="visually-hidden">Корм для кошек Нямушка</h1>
<section >
  <h2 class="visually-hidden">Наш ассортимент</h2>
	<p class="page-title">Ты сегодня покормил кота?</p>
  <form action="#" method="post">
  <ul class="product-list" id="productList">
    <li class="product-list__item"  v-for="(productItem, productIndex) in products">
      <input class="product-list__input"  v-model="checkboxes"  v-bind:checked="checkboxes.indexOf( productIndex ) != -1" v-bind:id="productIndex + 'product'" type="checkbox" v-bind:name="productIndex + 'product'" v-bind:value="productIndex" v-bind:disabled="disabled[productIndex]">
      <label v-bind:for="productIndex + 'product'">
        <div class="product-list__wrapper">
          <div class="product-list__content-wrapper">
            <span class="product-list__description">
              <span class="product-list__description-main">{{ messages[0] }}</span>
              <span class="product-list__description-hover">{{ messages[1] }}</span>
            </span>
          <h3 class="product-list__title">Нямушка</h3>
          <span class="product-list__title-description">с {{ productItem }}</span>
          <ul class="product-description__list">
            <li class="product-description__item"  v-for="(item, index) in list[productIndex]">{{ list[productIndex][index] }}</li>
          </ul>
          <div class="product-list__weight">{{ weight[productIndex] }}
          <small>кг</small></div>
          </div>
        </div>
      </label>
      <p class="product-list__message">
        Чего сидишь? Порадуй котэ,
        <a v-on:click.prevent="linkClick(productIndex)" href="#">купи.</a>
      </p>
      <p class="product-list__message product-list__message--disabled">Печалька, с {{productItem}} закончился</p>
    </li>
  </ul>
  </form>
</section>
</main>
<script src="https://unpkg.com/vue"></script>
<script src="js/data.js"></script>
<script src="js/main.js"></script>
</body>
</html>


